[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Config files for my GitHub profile.
[access "refs/*"]
	owner = group user/mye770
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mye770
	label-Verified = -1..+1 group user/mye770
	push = group user/mye770
	read = group user/mye770
	rebase = group user/mye770
	removeReviewer = group user/mye770
	submit = group user/mye770
[access "refs/heads/*"]
	create = group user/mye770
	push = +force group user/mye770
	pushMerge = group user/mye770
	read = group user/mye770
[access "refs/tags/*"]
	push = group user/mye770
	push = +force group user/mye770
